.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}

@media (min-width: 401px) and (max-width: 700px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 701px) and (max-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1001px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .video-grid .video-title {
    font-size: 16px;
    line-height: 24px;
  }

  .video-card .video-author,
  .video-card .video-stats {
    font-size: 14px;
  }
}

.video-card {
}

.video-thumbnail-container {
  margin-bottom: 12px;
  position: relative;
}

.video-thumbnail-container img {
  width: 100%;
  display: block;
}

.video-duration {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 5px 5px;
  font-weight: 500;
  border-radius: 4px;
}

.video-info {
  display: flex;
}

.channel-picture-container {
  position: relative;
  height: fit-content;
}

.box-tooltip {
  position: absolute;
  bottom: -80px;
  left: 0;
  display: flex;
  width: 200px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 100;
}

.channel-picture-container:hover .box-tooltip {
  opacity: 1;
}

.box-tooltip img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.channel-name {
  font-weight: bold;
  margin-bottom: 7px;
}

.subscribers {
  font-size: 14px;
  color: gray;
}

.video-info .channel-picture {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  display: block;
}

.video-details {
  padding: 0 10px;
}

.video-details a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

.video-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: gray;
}

.video-author {
  margin-bottom: 5px;
}
